@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --color-primary1: hsl(215, 51%, 70%);
  --color-primary2: hsl(178, 100%, 50%);
  --color-primary3: hsl(178, 100%, 50%, 60%);
  --color-body: hsl(217, 54%, 11%);
  --color-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --color-shadow1: hsl(218, 58%, 10%);
  --color-shadow2: hsla(215, 53%, 13%, 0.233);
  --ff-main: "Outfit";
  --fw-sm: 300;
  --fw-md: 400;
  --fw-lg: 600;
  --fs-pa: 1.125rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: grid;
  place-content: center;
  background-color: var(--color-body);
  font-family: var(--ff-main);
}
body .nft-card {
  display: flex;
  flex-direction: column;
  width: 327px;
  background-color: var(--color-card);
  padding: 1.4em;
  border-radius: 1em;
  box-shadow: 0 30px 6px 15px var(--color-shadow1), 0 40px 12px 50px var(--color-shadow2);
}
body .nft-card .nft-img {
  position: relative;
}
body .nft-card .nft-img div {
  position: absolute;
  background-color: var(--color-primary3);
  top: 0;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
body .nft-card .nft-img div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .nft-card .nft-img div:hover {
  opacity: 1;
  cursor: pointer;
}
body .nft-card #nft-img {
  border-radius: 1em;
}
body .nft-card #nft-img:hover {
  cursor: pointer;
}
body .nft-card .nft-details {
  margin: 1em 0;
}
body .nft-card .nft-details .details {
  display: flex;
  flex-direction: column;
}
body .nft-card .nft-details h1 {
  color: var(--color-white);
  font-weight: var(--fw-lg);
  margin-bottom: 0.5em;
}
body .nft-card .nft-details h1:hover {
  cursor: pointer;
  color: var(--color-primary2);
}
body .nft-card .nft-details .details-para {
  color: var(--color-primary1);
  margin-bottom: 1em;
  font-weight: var(--fw-sm);
}
body .nft-card .nft-pricing {
  display: flex;
  justify-content: space-between;
}
body .nft-card .nft-pricing .price-info {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.4em;
}
body .nft-card .nft-pricing .price-info img {
  height: 18px;
}
body .nft-card .nft-pricing .price-info p {
  color: var(--color-primary2);
  font-weight: var(--fw-lg);
}
body .nft-card .nft-pricing .time-info {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.4em;
}
body .nft-card .nft-pricing .time-info .time-left {
  color: var(--color-primary1);
  font-weight: var(--fw-md);
}
body .nft-card .divider {
  width: 100%;
  border-top: 1px solid var(--color-line);
  margin: 0 auto 1em auto;
}
body .nft-card .credits {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1em;
  font-weight: var(--fw-sm);
}
body .nft-card .credits #credits-img {
  width: 35px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
}
body .nft-card .credits p {
  color: var(--color-primary1);
}
body .nft-card .credits .creator-name {
  color: var(--color-white);
}
body .nft-card .credits .creator-name:hover {
  cursor: pointer;
  color: var(--color-primary2);
}/*# sourceMappingURL=main.css.map */